
<div class="grid mt-3">
    <div class="col-8  "><div class="flex  flex-column 
        align-items-center 
        justify-content-start 
        m-3 border-solid 
        border-1 border-300 p-4 
        border-round-lg
        flex-wrap">
                
        <form [formGroup]="recommendForm" (ngSubmit)="onSubmit() " class="w-full">
            <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }" 
                     class="w-full" [paginator]="true"
                     [rows]="5" [rowsPerPageOptions]="[5,10]">
                <ng-template #caption>
                    <div class="flex items-center justify-between">
                        <span class="text-xl font-bold">Recommend Stock</span>
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Volume</th>
                        <th>Change</th>
                        <th>Total</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template #body let-data>
                    <tr>
                        <td>{{ data.Symbol }}</td>
                        <td>{{ data.price }}</td>
                        <td>{{ data.volume }}</td>
                        <td>{{ data.Change }}</td>
                        <td>{{ data.total }}</td>
                        <td>{{ data.category }}</td>
                        <td><button type="button" (click)="addToWhitelist(data)">Add</button></td>
                    </tr>
                </ng-template>
            </p-table>
        </form>
        </div></div>
        <div class="col-4 border-1 border-gray-300">
            Your whitelist
            
            <form [formGroup]="formGroup" class="card flex justify-center flex-column">         
                <input type="text" pInputText formControlName="text" />
                {{ formGroup.value  }}
      
                <p-table [value]="whitelist" [tableStyle]="{ 'min-width': '10rem' }" [scrollable]="true" scrollHeight="400px" class="w-full">
                    <ng-template #caption>
                      <div class="flex items-center justify-between">
                        <span class="text-xl font-bold">Your favorite</span>
                      </div>
                    </ng-template>
                    <ng-template #header>
                      <tr>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Change</th>
                      </tr>
                    </ng-template>
                    <ng-template #body let-data>
                      <tr>
                        <td>{{ data.Symbol }}</td>
                        <td>{{ data.price }}</td>
                        <td>{{ data.Change }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
            </form>
          </div>
</div>