<div class="flex flex-column align-items-center justify-center">
  <i class="pi pi-euro mt-3" style="font-size: 3rem"></i>
  <h1>EXCHANGE RATE</h1>
  <p>300 limit request</p>
  

  <form
    [formGroup]="currencyForm"
    (ngSubmit)="onSubmit()"
    class="card flex justify-center flex-column border-1 border-round-lg border-gray-300 p-4 mr-2 sticky top-0  max-w-auto"
  >
    <span class="flex justify-content-between align-items-center">
      <p class="mr-5">
        <label for="amount">Amount:</label> <br>
        <input pInputText id="amount" formControlName="amount" type="number" />
      </p>
      <p class="mr-5">
        <label for="base">From :</label>
        <p-select
          [options]="currencies"
          formControlName="base"
          optionLabel="code"
          optionValue="code"
          [filter]="true"
          filterBy="code"
          [showClear]="true"
          placeholder="Select a Currency"
          class="w-full md:w-56"
        >
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              <div>{{ selectedOption.code }} - {{ selectedOption.name }}</div>
            </div>
          </ng-template>
        </p-select>
      </p>
      <p>
        <label for="target">TO :</label>
        <p-select
          [options]="currencies"
          formControlName="target"
          optionLabel="code"
          optionValue="code"
          [filter]="true"
          filterBy="code"
          [showClear]="true"
          placeholder="Select a Currency"
          class="w-full md:w-56"
        >
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              <div>{{ selectedOption.code }} - {{ selectedOption.name }}</div>
            </div>
          </ng-template>
        </p-select>
      </p>
    </span>
   
    <button type="submit" class="p-4 bg-blue-600 text-900 
     border-round-lg font-bold hover:bg-blue-700 text-blue-50 border-transparent">Convert Amount</button>
  </form>

  <div *ngIf="currencyData$ | async as currencyData">
    <p *ngIf="currencyData?.data?.[currencyForm.get('target')?.value]">
      Exchange Rate:
      {{ currencyData.data[currencyForm.get("target")?.value].value }}
    </p>
    <p *ngIf="!currencyData?.data?.[currencyForm.get('target')?.value]">
      Exchange rate data is not available.
    </p>
  </div>

  <div *ngIf="convertedAmount !== null">
    <p>Converted Amount: {{ convertedAmount }}</p>
  </div>
</div>
