<!-- src/app/component/chart/chart.component.html -->
<app-search class=""  (searchResult)="onSearch($event)"></app-search> <!-- รับข้อมูลการค้นหา -->
<span>
  <div class="box">
    <h1>{{title}}</h1>
    <ejs-stockchart id="chart-container" [primaryXAxis]="primaryXAxis" [primaryYAxis]="primaryYAxis" [crosshair]="crosshair" [theme]="theme">
      <e-stockchart-series-collection>
        <e-stockchart-series [dataSource]="chartData" type="Candle" xName="date" High="high" Low="low" Open="open" Close="close" Name="Apple"></e-stockchart-series>
      </e-stockchart-series-collection>
    </ejs-stockchart>
  </div>
</span>